# WHILE LOOP

In [5]:
i=0
while i<=2:
    print("hello world")
# here we can see that while condition is true forever hence it will execute for infinity

hello world

In [20]:
i = 0 # this initilisation is must
while i<=100:
    print(i,end=" ") # this will print the values in a single line
    i=i+1
# to print 1 to 100

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [22]:
# wap a loop program to print table of 3
i = 0
while i<=100:
    print(i,end=" ")
    i = i + 3

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [24]:
# wap a progran to print odd numbers
i = 1
while i <= 100:
    print(i,end = " ") 
    i = i + 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [27]:
# wap ro print the table of 5
i = 5
while i<=100:
    print(i,end=" ")
    i = i + 5

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [30]:
x = 100
while x>=0:
    print(x,end=" ")
    x = x-1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [42]:
# infinite loop termination
i = 1
while True:
    print(i,"hello world",end=" ")
    i = i + 1
    if i==21: # if this condition satiesfie then the loop will break
        break

1 hello world 2 hello world 3 hello world 4 hello world 5 hello world 6 hello world 7 hello world 8 hello world 9 hello world 10 hello world 11 hello world 12 hello world 13 hello world 14 hello world 15 hello world 16 hello world 17 hello world 18 hello world 19 hello world 20 hello world

In [44]:
# infinite loop termination
i = 0
while True:
    i = i + 1
    if i<=20:
        print(i,"hello world",end=" ")
        if i==20:
            break

1 hello world 2 hello world 3 hello world 4 hello world 5 hello world 6 hello world 7 hello world 8 hello world 9 hello world 10 hello world 11 hello world 12 hello world 13 hello world 14 hello world 15 hello world 16 hello world 17 hello world 18 hello world 19 hello world 20 hello world

In [51]:
# in while else loop else part will satisfy only when initiating condition of while loop will fail
i = 0 
while i<=3:
    print(i)
    i = i+1
    if i==7:
        break
else:
    print("whiles condition is failed")

0
1
2
3
whiles condition is failed

In [57]:
# wap to find the sum of all numbers input by user
add = 0
while True:
    a = input("enter number")
    if a=="#":
        break
    a = int(a)
    add = add + b
print(add)

enter number34
enter number56
enter number#
112

In [63]:
l=[]
while True:
    a =input("enter element for the list")   
    if a=="#":
        break
    a = int(a)
    l.append(a)
    
print(l)
print("the length of the given list is:",len(l))

enter element for the list23
enter element for the list45
enter element for the list67
enter element for the list89
enter element for the list#
[23, 45, 67, 89]
the length of the given list is: 4

[34, 45, 67, 2, 2, 2, 34, 56, 5, 5, 5, 6]

In [22]:
a =  [12,12,12,12,13,12,45,12,56,12,12,56,12,34,56,12,23]
i = 0
while i<= len(a):
        if a.count(12)==0:
            break
        a.remove(12)
        i = i + 1
print(a)

[13, 45, 56, 56, 34, 56, 12, 23]

In [1]:
i = 13
while i<=100:
    print(i)
    i=i+13

13
26
39
52
65
78
91

In [ ]:
i = 0
add = 0
a = int(input("enter the mobail number: "))
while True:
    b=a%10
    add = add+b
    print(add)

enter the mobail number: 234

In [12]:
i = 0
while i<=100:
    print(f"{i} hello world",end = " ")
    i=i+1

0 hello world 1 hello world 2 hello world 3 hello world 4 hello world 5 hello world 6 hello world 7 hello world 8 hello world 9 hello world 10 hello world 11 hello world 12 hello world 13 hello world 14 hello world 15 hello world 16 hello world 17 hello world 18 hello world 19 hello world 20 hello world 21 hello world 22 hello world 23 hello world 24 hello world 25 hello world 26 hello world 27 hello world 28 hello world 29 hello world 30 hello world 31 hello world 32 hello world 33 hello world 34 hello world 35 hello world 36 hello world 37 hello world 38 hello world 39 hello world 40 hello world 41 hello world 42 hello world 43 hello world 44 hello world 45 hello world 46 hello world 47 hello world 48 hello world 49 hello world 50 hello world 51 hello world 52 hello world 53 hello world 54 hello world 55 hello world 56 hello world 57 hello world 58 hello world 59 hello world 60 hello world 61 hello world 62 hello world 63 hello world 64 hello world 65 hello world 66 hello world 67 hello world 68 hello world 69 hello world 70 hello world 71 hello world 72 hello world 73 hello world 74 hello world 75 hello world 76 hello world 77 hello world 78 hello world 79 hello world 80 hello world 81 hello world 82 hello world 83 hello world 84 hello world 85 hello world 86 hello world 87 hello world 88 hello world 89 hello world 90 hello world 91 hello world 92 hello world 93 hello world 94 hello world 95 hello world 96 hello world 97 hello world 98 hello world 99 hello world 100 hello world

In [3]:
n = int(input("enter the number"))
sum = 0
while n > 0:
    b = n % 10
    sum = sum + b
    n = n // 10
rum = sum %10
gum = sum // 10
dum = rum + gum
print(dum)

enter the number7821063741
12

# FOR LOOP

In [9]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [11]:
for i in range(1,11,2):
    print(i,end=" ")

1 3 5 7 9

In [14]:
l = [11,27,34,45,57,64]
for i in l:
    print(i)

11
27
34
45
57
64

In [17]:
# print table if 5 
for i in range(1,11):
    print(i,"*",5,"=",i*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [19]:
l = [11,6,5,34,78,90,2,13,45,89]
for i in l:
    print(i,"hello world")

11 hello world
6 hello world
5 hello world
34 hello world
78 hello world
90 hello world
2 hello world
13 hello world
45 hello world
89 hello world

In [20]:
# lets use break statment
l = [23,56,34,23]
for i in l:
    print(i,"ya its still working")
    if i==34:
        break
    print("hello")

23 ya its still working
hello
56 ya its still working
hello
34 ya its still working

In [52]:
l = [2,34,2,56,2,58,2,90,2]
for i in l:
    print(i)
    if i==2:
        l.remove(2)
        
print(l)

2
2
2
2
2
[34, 56, 58, 90]

In [39]:
l = [2,34,2,56,2,3,58,9]
for i in l:
    print(i)
    if i < 30:
        l.remove(i)

2
2
2
58
9

In [40]:
my_list = [22, 33, 66, 77, 99]

for item in my_list.copy():
    if item < 50:
        my_list.remove(item)

print(my_list)

[66, 77, 99]

In [65]:
l = [2,34,2,56,2,3,58,9]
for i in l:
    if i == 2:
        l.remove(2)
print(l)

[34, 56, 3, 58, 9]

In [75]:
l = [2,34,2,56,2,2,2,2,2,2,58,9]
for i in l.copy():
    if i == 2:
        l.remove(i)
print(l)
# you cant remove the consecutive items using the for loop or while loop you have to use l.copy fun

[34, 56, 58, 9]

In [77]:
l = [2,34,2,56,2,2,2,2,2,2,58,9]
l = list(filter(lambda x: x != 2, l))
print(l)

[34, 56, 58, 9]

In [86]:
for i in range(1,100):
    if i%3==0:
        print(i,end=" ")
        continue
    print("skip",end = " ")

skip skip 3 skip skip 6 skip skip 9 skip skip 12 skip skip 15 skip skip 18 skip skip 21 skip skip 24 skip skip 27 skip skip 30 skip skip 33 skip skip 36 skip skip 39 skip skip 42 skip skip 45 skip skip 48 skip skip 51 skip skip 54 skip skip 57 skip skip 60 skip skip 63 skip skip 66 skip skip 69 skip skip 72 skip skip 75 skip skip 78 skip skip 81 skip skip 84 skip skip 87 skip skip 90 skip skip 93 skip skip 96 skip skip 99

In [91]:
for i in range(1,5):
    if i%3==0:
        break
print(i)

3

In [95]:
a = input("enter a number: ")
sum = 0
for i in a:
    sum = sum + int(i)
print(sum)

enter a number: 876
21

In [5]:
l=[]
z=[]

plus = 0
for i in range (1,10000):
    if i%10==9:
        i = str(i)
        if int(i)>10 and int(i)<100 :
            if int(i[0])<int(i[1]):
                if (int(i[0])+int(i[1]))>=17:
                    l.append(i)
        elif int(i)>100 and int(i)<1000 :
            if int(i[0])<int(i[1])<int(i[2]):
                if (int(i[0])+int(i[1])+int(i[2]))>=17:
                    if (int(i[0])+int(i[1])+int(i[2]))<=26:
                        l.append(i)
        elif int(i)>=1000 :
            if  int(i[0])<int(i[1])<int(i[2])<int(i[3]):
                if (int(i[0])+int(i[1])+int(i[2])+int(i[3]))>=17: 
                    if (int(i[0])+int(i[1])+int(i[2])+int(i[3]))<=35:
                        l.append(i)
print(l)

['89', '179', '189', '269', '279', '289', '359', '369', '379', '389', '459', '469', '479', '489', '569', '579', '589', '679', '689', '789', '1259', '1269', '1279', '1289', '1349', '1359', '1369', '1379', '1389', '1459', '1469', '1479', '1489', '1569', '1579', '1589', '1679', '1689', '1789', '2349', '2359', '2369', '2379', '2389', '2459', '2469', '2479', '2489', '2569', '2579', '2589', '2679', '2689', '2789', '3459', '3469', '3479', '3489', '3569', '3579', '3589', '3679', '3689', '3789', '4569', '4579', '4589', '4679', '4689', '4789', '5679', '5689', '5789', '6789']

In [44]:
l = [1,2,3,4,5]
for i in l:
    for j in range(1,5):
        print(i+j)
        if j == 3:
            break
print("loop is over ")

2
3
4
3
4
5
4
5
6
5
6
7
6
7
8
loop is over

In [7]:
l = [1,2,3,4,5]
for i in l:
    for j in range(1,5):
        print(i+j)
        if j == 3:
            break
    print("loop is over ")
# once the complete for loop is terminate then only the belowed code or statment will execute

2
3
4
loop is over
3
4
5
loop is over
4
5
6
loop is over
5
6
7
loop is over
6
7
8
loop is over

## NESTED FOR LOOPS

In [8]:
l = [1,2,3,4,5]
for i in l:
    for j in range(1,5):
        print(i+j)
        if j == 3:
            break
        print("loop is over ")

2
loop is over
3
loop is over
4
3
loop is over
4
loop is over
5
4
loop is over
5
loop is over
6
5
loop is over
6
loop is over
7
6
loop is over
7
loop is over
8

In [17]:
l = [1,2,3,4]
for i in l:
    for j in range(1,5):
        if j == 4:
            break
        print(i+j)

2
3
4
3
4
5
4
5
6
5
6
7

In [5]:
print("saurah")
print("gaurav")

saurah
gaurav