In [2]:
a = set()
print(type(a))
print(a)

<class 'set'>
set()

In [8]:
a = {10,20,True,"saurabh",13.0}
print(a)
# you can not add list or tupple in set

{True, 20, 10, 'saurabh', 13.0}

In [12]:
a = {10,20,True,"saurabh",13.0}
del a

In [17]:
a = {10,20,True,"saurabh",20,20,20,20}
print(a)
len(a)
# whenever you will print set the repeated items will consider as only one item in it
# and length also taken by this

{True, 10, 'saurabh', 20}

4

## SET METHODS

In [22]:
a = {10,20,30,40,60}
a.add(90)
print(a)
# to add single value in a we use

{20, 90, 40, 10, 60, 30}

In [20]:
a = {10,20,True,"saurabh",13.0}
b = {23,30,45,90}
a.update(b)
print(a)
# to add new multiple values in ser we use update method

{True, 10, 'saurabh', 13.0, 45, 20, 23, 90, 30}

In [26]:
a = {10,20,True,"saurabh",13.0}
a.discard(10)
print(a)
# to remove any one value we can do remove using discard method

{True, 20, 'saurabh', 13.0}

In [27]:
a = {10,20,True,"saurabh",13.0}
a.discard(34)
print(a)
# if demended value is not present in the set then also it will not give erroe

{True, 20, 10, 'saurabh', 13.0}

In [28]:
a = {10,20,True,"saurabh",13.0}
a.remove(20)
print(a)
# this will also work like discard but if demanded value is not present then see below

{True, 10, 'saurabh', 13.0}

In [29]:
a = {10,20,True,"saurabh",13.0}
a.remove(34)
print(a)
# it is giving eror because demanded value is not present in the given set

KeyError: 34

In [32]:
a = {10,20,True,"saurabh",13.0}
a.clear()
print(a)
# to clear all value without deleting object we use the clear function

set()

In [34]:
a = {10,20,True,"saurabh",13.0}
del a
print(a)
# del function will delete the a object

NameError: name 'a' is not defined

In [35]:
a = {10,20,30,40}
b = {10,20,30,40,50}
a.issubset(b)
# it will return the boolean values

True

In [36]:
a = {10,20,30,40}
b = {10,20,30,40,50}
b.issubset(a)
# b is not subset of a

False

In [40]:
a = {10,20,30,40}
b = {10,20,30,40,50}
b.issuperset(a)
# superset means if a is subset of b then b is super set of a which contain all the elements of a
# it also return the boolean output

False

## SET OPERATIONS

In [41]:
a = {12,34,66,78}
b = {12,13,67,78}
a.union(b)
# union keyword used to find the union of two sets

{12, 13, 34, 66, 67, 78}

In [42]:
a = {12,34,66,78}
b = {12,13,67,78}
a.intersection(b)
# ntersection leyword used to find the intersection

{12, 78}

In [43]:
a = {12,34,66,78}
b = {12,13,67,78}
a.difference(b)
# a.difference(b) means remove all the elements from a which are present in b 
# result come from the set a only

{34, 66}

In [44]:
a = {12,34,66,78}
b = {12,13,67,78}
a.symmetric_difference(b)
#(aub)-(a∩b) = symmetric difference

{13, 34, 66, 67}